body {
    background-color:#D18CE0;
    color: #F5F5F5;
  }
  hr{
    border-style: dashed;
    border-color: #E8E2E2;
    width: 50%;
  }
 #hall_of_fame:hover{
  font-size: 50px;
 }
 #about:hover{
  font-size: 50px;
 }
#Gold{
  background-color: #F99417;
  height: 200px;
  width: 200px;

  padding: 20px;
 

}
#Silver{
  
  background-image:url(https://e7.pngegg.com/pngimages/9/194/png-clipart-luxury-gold-card-luxurious-silk-ribbon.png) ;
  background-size: cover;
  background-position: center;

  height: 200px;
  width: 200px;

  padding: 20px;
  left: 250px;
  bottom:240px;
 position: relative;

}
#Bronze{
  background-color: #F99417;
  height: 200px;
  width: 200px;

  padding: 20px;
  left: 500px;
  bottom:480px;
 position: relative;
  
  
}
#whole{
   margin-left:25%;
   padding:0%;
   height: 200px;
}
img{
  padding:0px;
  margin-left: 25px;
}
p{
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 200px;
  margin-top: 3%;
  margin:0px;
  padding:0px;
} 
a{
  text-decoration: none;
  color:#F1D00A;

}
a:visited{
  color:aquamarine ;

}
#wof{
  left:16%;
  font-family: 'VT323',monospace;
  position: relative;
  bottom: 440px;
  
}
.win{
  text-align:center;
}

